.form-horizontal
  .control-group
    = f.label :day, :class => 'control-label'
    .controls
      = f.text_field :day, :class => 'datepicker'
  .control-group
    = f.label :title, :class => 'control-label'
    .controls
      = f.text_field :title, :class => 'text_field'
  .control-group
    = f.label :description, :class => 'control-label'
    .controls
      = f.text_field :description, :class => 'text_field'

  .control-group
    = f.label :time, "Início / Fim", :class => 'control-label'
    .controls
      .form-inline
        .input-append.bootstrap-timepicker
          = f.text_field :start_time, :class => 'timepicker input-mini'
          %span.add-on 
            %i.icon-time
        .input-append.bootstrap-timepicker
          = f.text_field :end_time, :class => 'timepicker input-mini'
          %span.add-on 
            %i.icon-time
