=form_for task, remote: true do |f|
  .control-group
    = f.label :title, :class => 'control-label'
    .controls
      = f.text_field :title, :class => 'text_field'
  .control-group
    = f.label :description, :class => 'control-label'
    .controls
      = f.text_field :description, :class => 'text_field'
  .control-group
    = f.label :status, :class => 'control-label'
    .controls
      = f.text_field :status, :class => 'text_field'
  .control-group
    = f.label :start_time, :class => 'control-label'
    .controls
      = f.time_select :start_time, :class => 'time_select'
  .control-group
    = f.label :end_time, :class => 'control-label'
    .controls
      = f.time_select :end_time, :class => 'time_select'
 
