#new-task-modal.modal.hide.fade.in(style="display: none;")  
  .modal-header
    %a(class="close" data-dismiss="modal") ×
    %h3 Nova Tarefa
  = form_for @new_task, html: { remote: true } do |f|
    .modal-body{style:'height: 300px'}
      = render partial:'modal_form_fields', locals:{f:f}
    .modal-footer
      = f.submit 'Criar', class:'btn btn-success'
      = link_to 'Cancelar', tasks_path, class:'btn', data: {dismiss:'modal'}

#task-list
  %ul.task-list.sortable
    = render @tasks

  .add-task
    =link_to raw("<i class='icon-plus'></i>"), "#new-task-modal", data: {toggle: 'modal'}, id: 'new-task-modal-button'
