- model_class = Task
.page-header
  %h1=t '.title', :default => model_class.model_name.human

%p
  %strong= model_class.human_attribute_name(:title) + ':'
  %br
  = @task.title
%p
  %strong= model_class.human_attribute_name(:description) + ':'
  %br
  = @task.description
%p
  %strong= model_class.human_attribute_name(:status) + ':'
  %br
  = @task.status
%p
  %strong= model_class.human_attribute_name(:start_time) + ':'
  %br
  = @task.start_time
%p
  %strong= model_class.human_attribute_name(:end_time) + ':'
  %br
  = @task.end_time

.form-actions
  = link_to t('.back', :default => t("helpers.links.back")), tasks_path, :class => 'btn'
  = link_to t('.edit', :default => t("helpers.links.edit")), edit_task_path(@task), :class => 'btn'
  = link_to t('.destroy', :default => t("helpers.links.destroy")), task_path(@task), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
