$padding: 15px;

@mixin padding-sides {
  padding-left: $padding;
  padding-right: $padding;
}
@mixin padding {
  padding: $padding;
}

html, body { height: 100%; }

body {
  background-color: #999 !important;
  //background-image: url('noisy-texture.png');
  background-image: url('wavegrid.png');
}

.header {
  height: 120px;
  width: 100%;
  background-image: url('preview.png');
  //background-color: #C24012;
  //background-color: #193F66;
  box-shadow: 0px 0px 10px;
  margin-bottom: 20px;
  #todo_title {
    position: absolute;
    top: 40px;
    color: white;
    //font-family: 'Averia Gruesa Libre';
    //font-family: 'Marcellus SC';
    //font-family: 'Handlee';
    //font-family: 'Sarina';
    font-family: 'Walter Turncoat';
    font-size: 80px;
    text-shadow: 5px 5px 5px #444;
    
  }
}

.container {
  .day-title, .context-title {
    @include padding-sides;
    background-color: #FFF !important;
    box-shadow: 4px 4px 5px #999;
  }
  .content {
    @include padding;
    box-shadow: 4px 4px 5px #999;
    background-color: #FFF !important;
  }
}

.task-list { list-style-type: none; margin: 0; }
.task-list li { margin: 0 3px 3px 0px; @include padding; font-size: 1.4em; height: 18px; }
.task-list li span { position: absolute; margin-left: -1.3em; }

.task-time { float: left; height: 14px; width: 75px; margin-right: 5px}
.task-title { float: left; }
.add-task { margin: 10px;}
