!!!
%html
  %head
    %title HespTodo
    %link(rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Averia+Gruesa+Libre|Miss+Fajardose|Marcellus+SC|Handlee|Sarina|Walter+Turncoat|Gloria+Hallelujah' rel='stylesheet' type='text/css')
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body
    .header
      .span8#todo_title Hesp ToDo

    .container
      .row-fluid
        .span4.day-title
          %h4=l Date.today, format: :long
          =hidden_field :selected, :date, value: Date.today.strftime("%d/%m/%Y")
        .span4.offset4.context-title
          %h4 Pessoal
      %br
      .row-fluid
        .span12.content
          = yield

    .footer
